/* 注意id与class命名必须为英文否则无效 */
#bab{background-color: rgba(83, 216, 94, 0.825);}
.hh{color: rebeccapurple;}
#aba{color: beige;size: 0cap;}
#aaa{background-color:rgb(240, 231, 182); color: aqua; height: 229px; width: 672px;} 
