<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .md{
            width: 888px;
            height: 188px;
            background-color: aqua;
            margin: 0 auto;
            /* 如果想要盒子内元素居中只用把其父标签指定text=-align:center */
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="md">
        <h1 style="font-size: 30px ;color: red;">
            <strong> <em>我在中间</em> </strong>
        </h1>
    </div>
</body>
</html>