
body {
    background:  #EEEEEE;
    width:1200px auto;
    height:675px;
    border:5px  #393E46 solid;
    display: flex;
    justify-content: center;
    margin: auto; 
    color:black;
    
    
}
.box {
    position: absolute;
    color:#00ADB5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 45px;
}


.box1 { 
    position: absolute;
    background: #222831;
    width: 400px;
    height: 400px;
    margin-top:100px;
}

.box2 {
    width:185px ;
    height:185px;
    background: white;
    margin: 10px;
    animation-name: hd2;
    animation-duration: 10s;
}


.box4 {
    width:185px ;
    height:185px;
    background: white;
    margin: 10px;
    animation-name: hd4;
    animation-duration: 10s;
}

.box3 {
    position: absolute;
    left: 195px;
    top: 0px;
    width:185px ;
    height:185px;
    background: white;
    margin: 10px;
    animation-name: hd3;
    animation-duration: 10s;
}




@keyframes hd3 {

    8.3%{
        transform: translateY(195px);

    }
    
    25%{
        transform: translateY(195px);
    }

    33.3%{
        transform: translate(-195px,195px);

    }

    50%{
        transform: translate(-195px,195px);
    }


    58.3%{
        transform: translateX(-195px);
    }

    75%{
        transform: translateX(-195px);
    }


    83.3%{
        transform: translateX(0px);
    }
}


@keyframes hd2 {

    8.3%{
        transform: translateX(0);
    }
    16.6%{
        transform: translateX(195px);
    }

    33.3%{
        transform: translateX(195px);
    }

    41.6%{
        transform: translate(195px,195px);
    }


    58.3%{
        transform: translate(195px,195px);
    }

    66.6%{
        transform: translateY(195px);
    }


    83.3%{
        transform: translateY(195px);
    }
    91.6%{
        transform: translate(0px);
    }
}
    

@keyframes hd4 {


    16.6%{
        transform: translateX(0);
    }

    25%{
        transform: translateY(-195px);
    }

    41.6%{
        transform: translateY(-195px);
    }


    50%{
        transform: translate(195px,-195px);
    }

    66.6%{
        transform: translate(195px,-195px);
    }


    75%{
        transform: translateX(195px);
    }
    91.6%{
        transform: translateX(195px);
    }

    100%{
        translate: translate(0px);
    }
}